/* h1{
    color: blue;
    background-color: red;
} */
/* 
#box{
    height: 100px;
    width: 100px;
    background-color: red;
}
*/

.helo{
    color:rgb(7, 133, 91);
    background-color: aqua;
}

.newclass{
    background-color: rebeccapurple;
    
}